<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Nueva Incidencia</h1>
    <form th:action="@{/incidencas/nueva}" method="post" th:object="${i}">

        <Label>Titulo de la incidencia</Label>
        <input type="text" th:field="{titulo}"><br>

        <label >Descripción de la incidencia</label>
        <input type="text" th.field="{descripción}"><br>

        <button type="submit">Enviar</button>

    </form>

</body>
</html>